<div class="flex justify-center items-center mt-2 gap-2">
  <app-button
    label="Active"
    [className]="filterSelected === activePastConsts.ACTIVE ? 'w-full bg-green-500 text-primary px-4' : 'px-4 bg-primary'"
    (click)="onActiveButtonClick()"
  />

  <app-button
    label="Past"
    [className]="filterSelected === activePastConsts.PAST ? 'w-full bg-green-500 text-primary px-4' : 'px-4 bg-primary'"
    (click)="onPastButtonClick()"
  />
</div>

<div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  @for(ticket of filteredTickets; track $index){
  <app-tikcet-card [ticket]="ticket" [filterSelected]="filterSelected" />
  }
</div>

@if(loading){
<div class="min-h-screen mt-20">
  <app-loader />
</div>
}
