
<div class="mt-4 px-4 sm:px-6 lg:px-8">
    <app-search-bar (searchClicked)="handleSearchClick($event)" />
</div>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-14">
        <div class="col-span-3">
            <app-button [label] = "subjectAndClassName"
                [className]="'bg-primary w-full'" iconClass="text-white" />
        </div>
        <h2 class="text-2xl col-span-9 font-bold text-center mb-4"> {{pagedMcqs?.Items?.[0]?.Chapters?.[0]?.Text}} MCQs</h2>
        <div class="col-span-2">
            <app-button label="Add New MCQ" (click)="onAddNewButtonClick()"
             [className]="'bg-primary w-full'" iconClass="icon-add text-white" />
        </div>
    </div>
    @if(loading){
        <app-loader />
    } @else {
        @if(pagedMcqs?.Items?.length >= 1){
            <div class="mb-1">
                @if(pagedMcqs?.Items?.length == 1){
                    Showing {{ pagedMcqs?.Items?.length }} mcq
                } @else if(pagedMcqs?.Items?.length > 1){
                    Showing {{ pagedMcqs?.Items?.length }} mcqs
                }
            </div>
            <app-mcqs-table [pagedMcqs]="pagedMcqs" (deleteButtonClicked)="handleDeleteMcq($event)" />
        } @else {
            <div class="flex py-10 rounded-2xl flex-col justify-center items-center gap-2 my-auto mt-10">
                <span class="icon-clear text-5xl"></span>
                <h2 class="text-2xl">No mcq exists on search criteria.</h2>
            </div>
        }
    }
</div>
