<div class="bg-main p-6 m-4 rounded-2xl shadow-2xl" mt-4>
    @if(isEditMode){
        <h1 class="font-bold text-2xl text-center my-2">Edit MCQ</h1>
    } @else {
        <h1 class="font-bold text-2xl text-center my-2">Add MCQ</h1>
    }
    <form [formGroup]="mcqForm" (ngSubmit)="onSubmitForm()">
        <div class="grid grid-cols-12 items-end gap-4">
            <app-input class="col-span-10" placeholder="Enter Statement" label="Statement" controlName="statement" />
            <div class="col-span-2 cursor-pointer">
                <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
                @if(mediaPreview){
                    <div class="flex items-center gap-1">
                        <img [src]="mediaPreview" class="w-26 max-h-16 object-cover rounded cursor-pointer" (click)="triggerFileInput(fileInput)" />
                        <button type="button" (click)="removeUploadedMedia()">
                            <span class="icon-close-outline text-xl cursor-pointer"></span>
                        </button>
                    </div>
                } @else {
                    <div class="hidden md:block" (click)="triggerFileInput(fileInput)">
                        <app-button label="Attachment" [className]="'bg-primary py-1.5 w-full mx-auto'" iconClass="text-white icon-file_upload" />
                    </div>
                    <div class="block md:hidden" (click)="triggerFileInput(fileInput)">
                        <app-button [className]="'bg-primary py-1.5 w-full mx-auto'" iconClass="text-white icon-file_upload" />
                    </div>
                }
            </div>
        </div>
        <div class="grid grid-cols-12 gap-2">
            @for(option of optionFormGroups; track $index){ 
                <div [formGroup]="option" class="col-span-12 md:col-span-6 my-2">
                    <div class="grid grid-cols-12 gap-2 items-end">
                        <app-input controlName="text" class="col-span-10 md:col-span-9" [label]="'Option '+option?.value?.id" placeholder="Option" />
                        <div class="col-span-2 md:col-span-3 cursor-pointer">
                            <input type="file" #fileInput hidden (change)="onFileSelected($event, option)" />
                            @if(filePreviews[option.value.id]){
                                <div class="flex items-center gap-1">
                                    <img [src]="filePreviews[option.value.id]" class="w-16 h-16 object-cover rounded cursor-pointer" (click)="triggerFileInput(fileInput)" />
                                    <button type="button" (click)="removeUploadedFile(option)">
                                        <span class="icon-close-outline text-xl cursor-pointer"></span>
                                    </button>
                                </div>
                            } @else {
                                <div class="hidden md:block" (click)="triggerFileInput(fileInput)">
                                    <app-button label="Upload" iconClass="text-white icon-file_upload" className="w-full bg-primary" />
                                </div>
                                <div class="block md:hidden" (click)="triggerFileInput(fileInput)">
                                    <app-button iconClass="text-white icon-file_upload" className="w-full bg-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <app-select placeholder="Select Class" label="Class"
              controlName="grade" [options]="gradesList" (selectionChanged)="handleSelectionChange($event)" />
            <app-select placeholder="Select Subject" label="Subject" 
              controlName="subject" [options]="subjectsList" (selectionChanged)="handleSelectionChange($event)" />
            <app-multi-select  placeholder="Select Boards" controlName="boards"
                  [options]="boardsList" (selectionChanged)="handleSelectionChange($event)" label="Boards" />
            <app-multi-select placeholder="Select Chapter" label="Chapter" controlName="chapters" [options]="chapterList" />
            <app-select placeholder="Choose Difficulty" controlName="difficultyLevel" [options]="difficultyLevelList" />
            <app-radio label="Correct Option :" controlName="correctOption" [options]="optionsList" />
        </div>
        <div class="mt-4">
            <app-button label="Submit" [disabled]="mcqForm.invalid" type="submit" [loading]="loading" [className]="'bg-primary w-1/2 mx-auto'" />
        </div>
    </form>
</div>