<div class="bg-white mt-2 p-3 shadow-md rounded-xl">
  <p class="text-center font-bold flex justify-center items-center gap-2">
    {{ bus?.adminName }}
    <fa-icon [icon]="['fas', 'bus']"></fa-icon>
  </p>

  <div class="flex justify-center items-center ml-4 w-full">
    <p>{{ bus?.route?.startCity }}</p>
    <fa-icon [icon]="['fas', 'arrow-right']" class="mx-2"></fa-icon>
    <p>{{ bus?.route?.endCity }}</p>
  </div>

  <div class="grid grid-cols-[35%_65%] md:grid-cols-2 items-center mt-2">
    <img class="rounded-md" src="{{ bus?.busDetails?.imageSrc }}" alt="Bus Image" />
    <div class="flex flex-col gap-4 items-center">
      <div class="ml-4 flex flex-col justify-center items-center">
        <p class="text-tertiary">Only in</p>
        <p class="font-bold">{{ bus?.fare?.actualPrice }}</p>
        <p class="text-sm mb-2 text-center">{{ bus?.date | date }}</p>
        @if(bus?.route?.stops?.length > 2){
        <p class="text-sm">{{ bus?.route?.stops?.length - 2 }}</p>
        } @else {

        <p class="text-sm">Non-Stop</p>
        }
      </div>
    </div>
  </div>

  <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 w-full">Book my Ticket</button>
</div>
