<div class="flex flex-col">
  @if(label){
  <label for="{{ controlName }}" class="font-bold text-xl">{{ label }}:</label>
  }
  <input
    [formControl]="control"
    [placeholder]="placeholder"
    form_control
    [type]="type"
    #inputValidator="appValidate"
    [ngClass]="{ 'border-red-600': inputValidator.showErrors }"
    class="border-primary border-solid border-2 rounded-full px-4 py-1 focus:border-primary focus:outline-none"
  />
  <app-error-message class="ml-1" [show]="inputValidator.showErrors" [errorKey]="inputValidator.firstErrorKey"></app-error-message>
</div>
