<table id="example" class="table-auto bg-main w-full">
  <thead>
    <tr>
      <th class="px-4 border py-2">Statement</th>
      <th class="px-4 border py-2 hidden md:table-cell">Option A</th>
      <th class="px-4 border py-2 hidden md:table-cell">Option B</th>
      <th class="px-4 border py-2 hidden md:table-cell">Option C</th>
      <th class="px-4 border py-2 hidden md:table-cell">Option D</th>
      <th class="px-4 border py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(mcq of pagedMcqs?.Items; track $index){
        <tr>
            <td class="border px-4 py-2">{{ mcq?.Statement }}</td>
            @for(option of mcq.Options; track $index){
              <td class="border text-center px-4 py-2 hidden md:table-cell" [ngClass]="{ 'correct-option': isCorrectOption(mcq, option) }">{{ option?.Text }}</td>
            }
            <td class="border px-4 py-2">
                <div class="flex justify-center items-center gap-2">
                  <span class="icon-edit-pencil cursor-pointer hover:text-primary" (click)="onEditButtonClick(mcq?.Id)"></span>
                  <span class="text-xl icon-delete cursor-pointer hover:text-secondary" (click)="onDeleteMcqButtonClick(mcq?.Id)"></span>
                </div>
            </td>
        </tr>
    }
  </tbody>
</table>
