<div class="bg-main p-6 m-4 rounded-2xl shadow-lg" mt-4>
    @if(isEditMode){
        <h1 class="font-bold text-2xl text-center mt-2 mb-4">Edit Educational Resource Form</h1>
    } @else {
        <h1 class="font-bold text-2xl text-center mt-2 mb-4">Add Educational Resource Form</h1>
    }
  <form [formGroup]="notesForm" (ngSubmit)="onSubmitForm()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-2 items-start">
        <app-input placeholder="Enter Title" label="Title" controlName="title" />
        @if(isTextBookForm){
          <app-select placeholder="Select Board" label="Medium" controlName="medium"
            (selectionChanged)="handleSelectionChange($event)" [options]="mediumList" />
        }
        @if(!isTextBookForm){
          <app-input placeholder="Enter Topic" label="Topic" controlName="topic" />   
        }
        <app-input placeholder="Enter Description" label="Description" controlName="description" />
        <app-select placeholder="Select Class" label="Class" controlName="grade" 
          (selectionChanged)="handleSelectionChange($event)" [options]="gradesList" />
        <app-select placeholder="Select Subject" label="Subject" controlName="subject"
          (selectionChanged)="handleSelectionChange($event)" [options]="subjectsList" />
        <app-select placeholder="Select Board" label="Board" controlName="board"
         (selectionChanged)="handleSelectionChange($event)" [options]="boardsList" />
        @if(!isTextBookForm){
          <app-select placeholder="Select Chapter" label="Chapter" controlName="chapter" [options]="chaptersList" />
          <app-select placeholder="Select Type" label="Type" controlName="type" [options]="resourceTypesList" />
          <app-select placeholder="Select Board" label="Medium" controlName="medium"
            (selectionChanged)="handleSelectionChange($event)" [options]="mediumList" />
        }
         <div class="items-end">
            <app-files-upload-container (imageUploaded)="handleImageUpload($event)" (fileUploaded)="handleFileUpload($event)" [resetForm]="resetMediaState"
              [filePreview]="filePreview"  [coverImagePreview]="coverImagePreview" [imageAttachment]="note.coverImage"  [fileAttachment]="note.file" />
         </div>
    </div>
    <div class="mt-4 mx-auto grid grid-cols-12 justify-center gap-2">
      <div class="col-span-6 md:col-span-3 md:col-start-4">
        <app-button label="Cancel" [className]="'bg-gray-600 mx-auto w-full'"  (click)="onCancelButtonClick()" />
      </div>
      <div class="col-span-6 md:col-span-3 md:col-start-7">
        <app-button label="Submit" [disabled]="notesForm.invalid" type="submit" [loading]="loading" [className]="'bg-primary mx-auto w-full'" />
      </div>
    </div>
  </form>
</div>
