<div class="bg-main p-6 m-4 rounded-2xl shadow-lg" mt-4>
    @if(isEditMode){
        <h1 class="font-bold text-2xl text-center mt-2 mb-4">Edit Educational Resource Form</h1>
    } @else {
        <h1 class="font-bold text-2xl text-center mt-2 mb-4">Add Educational Resource Form</h1>
    }
  <form [formGroup]="notesForm" (ngSubmit)="onSubmitForm()">
    <div class="grid grid-cols-12 items-end gap-4">
        <app-input class="col-span-6" placeholder="Enter Title" label="Title" controlName="title" />
        <app-input class="col-span-6" placeholder="Enter Topic" label="Topic" controlName="topic" />
        
    </div>
    <div class="grid grid-cols-12 gap-5 mt-2 items-end">
        <app-input class="col-span-12" placeholder="Enter Description" label="Description" controlName="description" />
        <app-select class="col-span-6" placeholder="Select Class" label="Class" controlName="grade" 
          (selectionChanged)="handleSelectionChange($event)" [options]="gradesList" />
        <app-select class="col-span-6" placeholder="Select Subject" label="Subject" controlName="subject"
          (selectionChanged)="handleSelectionChange($event)" [options]="subjectsList" />
        <app-select class="col-span-6" placeholder="Select Board" label="Board" controlName="board"
         (selectionChanged)="handleSelectionChange($event)" [options]="boardsList" />
        <app-select class="col-span-6" placeholder="Select Chapter" label="Chapter" controlName="chapter" [options]="chaptersList" />
        <app-select class="col-span-6" placeholder="Select Type" label="Type" controlName="type" [options]="resourceTypesList" />
        <div class="col-span-6 grid grid-cols-6 gap-4 items-end">
            <div class="col-span-3 cursor-pointer">
                <input type="file" #coverImageInput hidden (change)="onFileSelected($event, 'coverImage')" />
                @if(coverImagePreview){
                    <div class="flex items-center justify-end gap-1">
                        <img [src]="coverImagePreview" class="w-15 h-15 object-cover rounded cursor-pointer" (click)="triggerFileInput(coverImageInput)" />
                        <button type="button" (click)="removeUploadedFile('coverImage')">
                            <span class="icon-close-outline text-xl cursor-pointer"></span>
                        </button>
                    </div>
                } @else {
                    <div (click)="triggerFileInput(coverImageInput)">
                        <app-button label="Upload Image" [className]="'bg-primary py-1.5 w-full mx-auto mb-1'" iconClass="text-white icon-file_upload" />
                    </div>
                }
            </div>
            <div class="col-span-3 cursor-pointer">
                <input type="file" #pdfInput hidden (change)="onFileSelected($event, 'pdf')" />
                @if(filePreview){
                    <div class="flex items-center gap-1">
                        <span class="icon-file-pdf text-6xl text-primary"></span>
                        <button type="button" (click)="removeUploadedFile('pdf')">
                            <span class="icon-close-outline text-xl cursor-pointer"></span>
                        </button>
                    </div>
                } @else {
                    <div (click)="triggerFileInput(pdfInput)">
                        <app-button label="Upload PDF" [className]="'bg-primary py-1.5 w-full mx-auto mb-1'" iconClass="text-white icon-file-pdf-o" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="mt-4">
      <app-button label="Submit" [disabled]="notesForm.invalid" type="submit" [loading]="loading" [className]="'bg-primary w-1/3 mx-auto'" />
    </div>
  </form>
</div>
