<div class="hidden rounded-t-2xl md:grid grid-cols-14 bg-gray-200 font-bold text-gray-700 uppercase py-4 px-2">
    <div class="col-span-5 pl-4">Name</div>
    <div class="col-span-2">Subject</div>
    <div class="col-span-1">Board</div>
    <div class="col-span-1 text-center">Class</div>
    <div class="col-span-2 text-center">Author</div>
    <div class="col-span-1 text-center">MCQs</div>
    <div class="col-span-2 text-center">Actions</div>
</div>

@for(chapter of pagedChapters?.Items; track $index){
    <div class="grid grid-cols-14 items-center border-b bg-main border-gray-200 py-4 px-2">
        <div class="col-span-12 md:col-span-5 truncate pl-4">{{ chapter?.Index }}. {{ chapter?.Name }}</div>
        <div class="col-span-2 truncate hidden md:block">{{ chapter?.Subject }}</div>
        <div class="col-span-1 hidden md:block">{{ chapter?.Board }}</div>
        <div class="col-span-1 text-center hidden md:block">{{ chapter?.Grade }}</div>
        <div class="col-span-2 text-center text-sm hidden md:block">{{ chapter?.Author?.Text }}</div>
        <div class="col-span-1 truncate text-center hidden md:block">{{ chapter?.McqCount }}</div>
        <div class="col-span-2 flex justify-center items-center gap-1">
            <span class="icon-edit-pencil text-primary cursor-pointer" (click)="onEditButtonClick(chapter?.Id)"></span>
            <span class="text-xl icon-delete text-secondary cursor-pointer" (click)="onDeleteButtonClick(chapter?.Id)"></span>
            <span class="text-xl icon-arrow-right cursor-pointer" [ngClass]="{'disabled-arrow': chapter?.McqCount < 1}"
             (click)="onRightArrowButtonClick(chapter?.Id, chapter?.McqCount)"></span>
        </div>
    </div>
}
