<div class="col-span-12 grid grid-cols-4 grid-rows-2 items-center gap-3 sm:flex sm:justify-center">
  <div class="wt-button-font order-2 col-span-2 flex justify-end gap-2">
    <a class="pagination-button" (click)="onFirstButtonClick()">First</a>
    <a class="pagination-button" (click)="onBackButtonClick()" [ngClass]="{'disabled-button': startPage == 1 }" >Back</a>
  </div>

  <div class="order-1 col-span-4 flex justify-center gap-3 sm:order-2">
    @for(button of buttonArray; track $index){
        <a class="pagination-button" (click)="onPageButtonClick(button)"
          [ngClass]="{ 'active-page': button === currentPage }">{{ button }}</a>
    }
  </div>

  <div class="wt-button-font order-2 col-span-2 flex items-center gap-2">
    <a class="pagination-button" [ngClass]="{'disabled-button': !pagedResponse?.hasNextPage }" (click)="onNextButtonClick()">Next</a>
    <a class="pagination-button" (click)="onLastButtonClick()">Last</a>
  </div>
</div>
