.pagination-button {
  border-radius: 0.5rem;
  background-color: var(--color-main);
  align-items: center;
  gap: 0.5rem;
  border: 0.5px solid;
  padding: 0.25rem 0.75rem;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: var(--color-primary);
  color: white;
}

.pagination-button:disabled:hover {
  background-color: var(--color-main);
  color: inherit;
  opacity: 0.9;
  cursor: not-allowed;
  color: #9ca3af;
}

.active-page {
  background-color: var(--color-primary);
  color: white;
}

.disabled-button {
  opacity: 0.9;
  cursor: not-allowed;
  color: #9ca3af;
}
